<div class="productView custom-productView">
    <div class="custom-productView-left productView-images zoom-image" data-image-gallery>
        <div class="productView-image-wrapper">
            
            <div class="productView-nav">
                {{#each (limit product.images 1)}}
                    <div>
                        <figure class="productView-image" data-fancybox="images" href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}" 
                            data-image-gallery-main
                            data-zoom-image="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}">
                            <div class="productView-img-container">
                                <a href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}">
                                    {{> components/common/responsive-img
                                        image=this
                                        class="productView-image--default"
                                        fallback_size=../theme_settings.product_size
                                        lazyload="disabled"
                                        default_image=../theme_settings.default_image_product
                                        otherAttributes="data-main-image"
                                    }}
                                </a>
                            </div>
                        </figure>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="custom-productView-right">
        <div class="productView-details">
            <div class="productView-product">
                <h1 class="productView-title">
                    <a href="{{product.url}}">{{product.title}}</a>
                </h1>

                <div class="productView-price">
                    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                        {{> components/products/price price=product.price}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                    {{#if product.call_for_price}}
                        <p><span>{{product.call_for_price}}</span></p>
                    {{/if}}
                </div>
            </div>

            <div class="productView-action">
                {{#if product.out_of_stock}}
                    <a href="{{product.url}}" data-event-type="product-click" class="button button--full button--action button--outOfStock" data-product-id="{{product.id}}" disabled>{{product.out_of_stock_message}}</a>
                {{else}}
                    {{#if product.options}}
                        {{#if theme_settings.custom_quick_shop}}
                            <a href="#" data-event-type="product-click" class="button button--action button--primary button--quickShop button--action" data-product-id="{{product.id}}">{{lang 'products.quick_shop'}}</a>
                        {{else}}
                            <a href="{{pruduct.url}}" data-event-type="product-click" class="button button--action button--primary button--action" data-product-id="{{product.id}}">{{lang 'products.choose_options'}}</a>
                        {{/if}}
                    {{else}}
                        {{#if product.can_purchase}}
                            <a href="" data-event-type="product-click" data-button-type="add-cart" class="button button--action button--primary custom-add-to-cart" data-product-id="{{product.id}}" data-wait-message="{{lang 'products.adding_to_cart'}}">{{lang 'products.add_to_cart'}}</a>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
