{{#and banners.bottom theme_settings.show_banner_bottom}}
    <div class="banners" data-banner-location="bottom">
        {{#each (limit banners.bottom_metadata 1)}}
            <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                    {{{this.content}}}
                </div>
            </div>
        {{/each}}
    </div>
{{/and}}
<footer class="footer" role="contentinfo">
    <div class="container">
        <h2 class="footer-heading">{{lang 'footer.title'}}</h2>
        <section class="footer-info flex flex-wrap flex-between">
            <!-- Custom Start -->
            <div class="footer-info--left flex flex-col">
                <div class="footerLeft__top row" style="--rowDesktop: 3">
                    <article class="footer-info-col col custom-animation" data-step-animate="1" data-section-load="animation">
                        <h3 class="footer-info-heading footer-info-heading--toggle">{{theme_settings.footer_col1_heading}}</h3>
                        <ul class="footer-info-list">
                            {{#if theme_settings.footer_col1_text1}}
                                <li>
                                    <a href="{{theme_settings.footer_col1_link1}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col1_text1}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col1_text2}}
                                <li>
                                    <a href="{{theme_settings.footer_col1_link2}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span></span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col1_text3}}
                                <li>
                                    <a href="{{theme_settings.footer_col1_link3}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col1_text3}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col1_text4}}
                                <li>
                                    <a href="{{theme_settings.footer_col1_link4}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col1_text4}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col1_text5}}
                                <li>
                                    <a href="{{theme_settings.footer_col1_link5}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col1_text5}}</span>
                                    </a>
                                </li>
                            {{/if}}
                        </ul>
                    </article>
                    <article class="footer-info-col col custom-animation" data-step-animate="2" data-section-load="animation">
                        <h3 class="footer-info-heading footer-info-heading--toggle">{{theme_settings.footer_col2_heading}}</h3>
                        <ul class="footer-info-list">
                            {{#each categories}}
                                <li>
                                    <a href="{{url}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{name}}</span>
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </article>
                    <article class="footer-info-col col custom-animation" data-step-animate="3" data-section-load="animation">
                        <h3 class="footer-info-heading footer-info-heading--toggle">{{theme_settings.footer_col3_heading}}</h3>
                        <ul class="footer-info-list">
                            {{#if theme_settings.footer_col3_text1}}
                                <li>
                                    <a href="{{theme_settings.footer_col3_link1}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col3_text1}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col3_text2}}
                                <li>
                                    <a href="{{theme_settings.footer_col3_link2}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col3_text2}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col3_text3}}
                                <li>
                                    <a href="{{theme_settings.footer_col3_link3}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col3_text3}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col3_text4}}
                                <li>
                                    <a href="{{theme_settings.footer_col3_link4}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col3_text4}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col3_text5}}
                                <li>
                                    <a href="{{theme_settings.footer_col3_link5}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col3_text5}}</span>
                                    </a>
                                </li>
                            {{/if}}
                        </ul>
                    </article>
                </div>

                <hr class="footer-line">

                <div class="footerLeft__bottom row" style="--rowDesktop: 3;">
                    <article class="footer-info-col col custom-animation" data-step-animate="4" data-section-load="animation">
                        <h3 class="footer-info-heading footer-info-heading--toggle">{{theme_settings.footer_col4_heading}}</h3>
                        <ul class="footer-info-list">
                            {{#if theme_settings.footer_col4_text1}}
                                <li>
                                    <a href="{{theme_settings.footer_col4_link1}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col4_text1}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col4_text2}}
                                <li>
                                    <a href="{{theme_settings.footer_col4_link2}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col4_text2}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col4_text3}}
                                <li>
                                    <a href="{{theme_settings.footer_col4_link3}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col4_text3}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col4_text4}}
                                <li>
                                    <a href="{{theme_settings.footer_col4_link4}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col4_text4}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col4_text5}}
                                <li>
                                    <a href="{{theme_settings.footer_col4_link5}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col4_text5}}</span>
                                    </a>
                                </li>
                            {{/if}}
                        </ul>
                    </article>
                    <article class="footer-info-col col custom-animation" data-step-animate="5" data-section-load="animation">
                        <h3 class="footer-info-heading footer-info-heading--toggle">{{theme_settings.footer_col5_heading}}</h3>
                        <ul class="footer-info-list">
                            {{#if theme_settings.footer_col5_text1}}
                                <li>
                                    <a href="{{theme_settings.footer_col5_link1}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col5_text1}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col5_text2}}
                                <li>
                                    <a href="{{theme_settings.footer_col5_link2}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col5_text2}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col5_text3}}
                                <li>
                                    <a href="{{theme_settings.footer_col5_link3}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col5_text3}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col5_text4}}
                                <li>
                                    <a href="{{theme_settings.footer_col5_link4}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col5_text4}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col5_text5}}
                                <li>
                                    <a href="{{theme_settings.footer_col5_link5}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col5_text5}}</span>
                                    </a>
                                </li>
                            {{/if}}
                        </ul>
                    </article>
                    <article class="footer-info-col col custom-animation" data-step-animate="6" data-section-load="animation">
                        <h3 class="footer-info-heading footer-info-heading--toggle">{{theme_settings.footer_col6_heading}}</h3>
                        <ul class="footer-info-list">
                            {{#if theme_settings.footer_col6_text1}}
                                <li>
                                    <a href="{{theme_settings.footer_col6_link1}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col6_text1}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col6_text2}}
                                <li>
                                    <a href="{{theme_settings.footer_col6_link2}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col6_text2}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col6_text3}}
                                <li>
                                    <a href="{{theme_settings.footer_col6_link3}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col6_text3}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col6_text4}}
                                <li>
                                    <a href="{{theme_settings.footer_col6_link4}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col6_text4}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col6_text5}}
                                <li>
                                    <a href="{{theme_settings.footer_col6_link5}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col6_text5}}</span>
                                    </a>
                                </li>
                            {{/if}}
                        </ul>
                    </article>
                </div>
            </div>
            <div class="footer-info--right">
                <div class="footerRight-row">
                    <article class="footer-info-col col custom-animation footer-info-col--location" data-step-animate="4" data-section-load="animation">
                        <h3 class="footer-info-heading footer-info-heading--toggle">{{theme_settings.footer_col7_heading}}</h3>
                        <ul class="footer-info-list">
                            {{#if settings.address}}
                                <li>
                                    <a href="http://maps.google.com/?q={{settings.address}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{settings.address}}</span>
                                    </a>
                                </li>
                            {{/if}}
    
                            {{#if settings.phone_number}}
                                <li>
                                    <a href="tel:{{settings.phone_number}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{settings.phone_number}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            
                            {{#if theme_settings.footer_col7_email}}
                                <li>
                                    <a href="mailto:{{theme_settings.footer_col7_email}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col7_email}}</span>
                                    </a>
                                </li>
                            {{/if}}
    
                            {{#if theme_settings.footer_col7_text1}}
                                <li>
                                    <a href="{{theme_settings.footer_col7_link1}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col7_text1}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col7_text2}}
                                <li>
                                    <a href="{{theme_settings.footer_col7_link2}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col7_text2}}</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#if theme_settings.footer_col7_text3}}
                                <li>
                                    <a href="{{theme_settings.footer_col7_link3}}" class="hover-link" style="--underlineColor: #ffffff;">
                                        <span>{{theme_settings.footer_col7_text3}}</span>
                                    </a>
                                </li>
                            {{/if}}
                        </ul>
                    </article>
                </div>

                <article class="footer-info-col footer-info-col--submitForm custom-animation" data-step-animate="0" data-section-load="animation">
                    <h3 class="footer-info-heading footer-info-heading--submitForm">
                        Subscribe now to get latest updates
                    </h3>
                    {{#if settings.show_newsletter_box}}
                        {{> components/common/subscription-form}}
                    {{/if}}
                    
                    {{#if theme_settings.show_footer_payment_icon}}
                        <div class="footer-icon-image">
                            <img class="lazyload" src="" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/credit-cards.png" alt="Footer Payment Icons">
                        </div>
                    {{/if}}
                </article>
            </div>
        </section>

        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="powered-by text-center">Copyright @ <span class="">{{settings.store_name}}</span> {{moment format="YYYY"}}, All Rights Reserved</p>
            </div>
        {{/if}}
    </div>
    {{{region name="ssl_site_seal--global"}}}
</footer>

<!-- Add To Quote App -->
<script src="https://quote.freshclick.co.uk/assets/quote_product.js?2011030607" id="quote_script" data-store="gyawy2ubly"></script>
<script src="https://quote.freshclick.co.uk/assets/quote_checkout.js?2011030607" id="quote_checkout_script" data-store="gyawy2ubly"></script>


<!-- Back To Top -->
<div id="back-to-top">
    <a href="#">Back to top<svg class="icon" aria-hidden="true"><use xlink:href="#icon-back-to-top"></use></svg></a>
</div>
