<div class="container">
    <form class="form" onsubmit="return false" data-url="{{urls.search}}" data-quick-search-form>
        <fieldset class="form-fieldset">
            <div class="form-field">
                <label class="is-srOnly" for="{{name}}">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input"
                        id="search_query"
                       data-search-quick
                       name="{{name}}"
                       id="{{name}}"
                       data-error-message="{{lang 'search.error.empty_field'}}"
                       placeholder="{{lang 'search.quick_search.input_placeholder'}}"
                       autocomplete="off"
                >
            </div>
        </fieldset>

        <button class="search-header-button" type="submit" data-search-quick-submit>
            <span class="is-srOnly">Search Button</span>
            <span class="icon icon--search">
                <svg><use xlink:href="#icon-search"></use></svg>
            </span>
        </button>
    </form>
    <section class="quickSearchResults customQuickSearchResults" data-bind="html: results"></section>

    <!-- Custom Start -->
    {{#if theme_settings.beforeQuickSearch}}
        <div class="customQuickSearchResults quickSearchResultsCustom">
            <div class="container">
                <button class="quickResults-close" type="button" title="Close">
                    <span class="aria-description--hidden">Close</span>
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="container">
                {{> components/custom/custom-before-quick-results  productsnew=products.new }}
            </div>
        </div>
    {{/if}}
    
    {{~inject 'quickSearchBefore' theme_settings.beforeQuickSearch}}

</div>
