{{#partial "page"}}
<div class="custom_map">
    {{#if theme_settings.contactUs_map}}
    {{> components/custom/contact-us-map}}
    {{/if}}
</div>

<div class="container">
    <div class="custom_breadcrumb">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        <h1 class="page-heading">{{page.title}}</h1>
    </div>
    <main class="page">
        {{#if page.sub_pages}}
        <nav class="navBar navBar--sub">
            <ul class="navBar-section account-navigation">
                {{#each page.sub_pages}}
                <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </nav>
        {{/if}}

        <div class="custom-section section-image-banner custom-animation" data-section-load="animation">
            <div class="content-banner">
                <div class="content-banner__left custom-separator" data-step-animate="3">
                    <h2 class="content-banner__title bottom-line bottom-line--left">We’re here to Help</h2>
                </div>
                <div class="content-banner__right" data-step-animate="4">
                    <p class="content-banner__description">Whether you have a question about your order, need more
                        information about our products, or want to share your feedback, we're all ears.</p>
                </div>
            </div>
        </div>

        <div class="custom-section section-icon-with-text custom-animation" data-section-load="animation">
            <div class="icon-with-text__list">
                <div class="icon-with-text__item">
                    <span class="icon-with-text__icon">
                        <svg>
                            <use xlink:href="#icon-clock"></use>
                        </svg>
                    </span>
                    <div class="icon-with-text__content">
                        <p class="title">Our Business Hours</p>
                        <p class="description des-bigger">8 AM <span class="text-light">to</span> 5 PM</p>
                        <p class="description des-bigger">Monday <span class="text-light">to</span> Friday <span class="text-light">(excluding holidays)</span></p>
                    </div>
                </div>
                <div class="icon-with-text__item">
                    <span class="icon-with-text__icon">
                        <svg>
                            <use xlink:href="#icon-phone-contact"></use>
                        </svg>
                    </span>
                    <div class="icon-with-text__content">
                        <p class="title">Mobile Number</p>
                        <a class="description hover-link" href="tel:+1-888-272-5560">
                            <span class="text">1-888-272-5560</span>
                        </a>
                    </div>
                </div>
                <div class="icon-with-text__item icon-with-text__item--full-mb">
                    <span class="icon-with-text__icon">
                        <svg>
                            <use xlink:href="#icon-mail-contact"></use>
                        </svg>
                    </span>
                    <div class="icon-with-text__content">
                        <p class="title">Email Address</p>
                        <a class="description description--mail hover-link" href="mailto: service@videoconferencingsupply.com">
                            <span class="text"><span>service@</span>videoconferencingsupply.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-section section-image-banner list-options custom-animation" data-section-load="animation">
            <div class="content-banner">
                <div class="content-banner__left custom-separator" data-step-animate="3">
                    <p class="content-banner__normal-text">Before you reach out, you might find quick answers to your
                    queries on our help and information pages. We've compiled
                    detailed responses to the most common questions we receive,
                    covering everything from shipping to returns:</p>
                </div>
                <div class="content-banner__right" data-step-animate="4">
                    <div class="list-check">
                        <div class="list-check-item">
                            <svg class="list-check-icon">
                                <use xlink:href="#icon-checked"></use>
                            </svg>
                            <p class="list-check-content"><strong>Shipping Policy:</strong> Learn about delivery times, costs, and order tracking.</p>
                        </div>
                        <div class="list-check-item">
                            <svg class="list-check-icon">
                                <use xlink:href="#icon-checked"></use>
                            </svg>
                            <p class="list-check-content"><strong>Return Policy:</strong> Find out how to return an item, the conditions for returns,
                            and how refunds are processed.</p>
                        </div>
                        <div class="list-check-item">
                            <svg class="list-check-icon">
                                <use xlink:href="#icon-checked"></use>
                            </svg>
                            <p class="list-check-content"><strong>Terms & Conditions:</strong> Understand the legal agreements that govern your
                            use of our services and products.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content custom_contact-us">
            <div class="custom_form">
                <div id="contact-us-page">
                    {{#if forms.contact.success}}
                    <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
                    {{else}}
                    <p class="contact-us-content">{{{page.content}}}</p>
                    {{> components/page/contact-us-form}}
                    {{/if}}
                </div>
            </div>
            <div class="custom_location">
                <h3 class="title">We're here to help!</h3>
                <div class="content">
                    <div class="description">
                        <p>Whether you have a question about your order, need more information about our products, or
                            want to share your feedback, we're all ears.</p>
                        <p>Our Business Hours: Our team is available from 8 AM to 5 PM CST, Monday through Friday
                            (excluding holidays), and we are ready to help you.</p>
                        <p>
                            Before you reach out, you might find quick answers to your queries on our help and
                            information pages. We've compiled detailed responses to the most common questions we
                            receive, covering everything from shipping to returns:
                        </p>
                        <ul>
                            <li>Shipping Policy: Learn about delivery times, costs, and order tracking.</li>
                            <li>Return Policy: Find out how to return an item, the conditions for returns, and how
                                refunds are processed.</li>
                            <li>Terms & Conditions: Understand the legal agreements that govern your use of our services
                                and products.</li>
                        </ul>
                        <p>If you haven't found what you're looking for in the sections above, please contact us
                            directly. We're committed to ensuring your shopping experience is smooth and enjoyable.
                            Please choose the most convenient way for you to get in touch with us:</p>
                    </div>

                    <p>Contact Form: Fill out our contact form here with your query, and we'll get back to you as soon
                        as possible.</p>
                    <p class="store-email">Email:
                        Contact us at <a
                            href="mailto:service@ipsecuritydepot.com">service@videoconferencingsupply.com</a>; we
                        usually respond within 24 business hours.
                    </p>
                    <p class="store-phone">Phone: Would you prefer to speak with someone? Call us at <a
                            href="tel:1-888-272-5560">1-888-272-5560</a>. Our customer service team is available from 8
                        AM to 5 PM CST, Monday through Friday.</p>
                    <p>We value your input. If you have suggestions or comments, please let us know. </p>
                </div>
            </div>
        </div>
    </main>
</div>
{{/partial}}

{{> layout/base}}