// =============================================================================
// GRID (CSS)
// =============================================================================

// .container {
//     position: relative;
//     width: layout("fixed");
//     max-width: 1440px;
//     padding: 0 15px;
//     margin-inline: auto;

//     &.container--full {
//         max-width: 100%;
//     }

//     @include smin-m {
//         padding: 0 30px;
//     }

//     @include smin-xl {
//         padding: 0 75px;
//     }
// }


.container {
    position: relative;
    width: layout("fixed");
    max-width: 1320px;
    padding: 0 15px;
    margin-inline: auto;

    &.container--full {
        max-width: 100%;
        padding: 0px;
    }
    &.container--1440 {
        max-width: 1440px;
        padding: 0px;
    }

    &.container--1920 {
        max-width: 1920px;
        padding: 0px;
    }
}
