// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
// 3. Fix for text flickers on windows devices
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $footer-background;
    position: relative;
    padding-top: 40px;
    overflow: hidden;
}

.footer-heading {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 28.8px;
    margin-top: 0;
    margin-bottom: 18px;
}

.footer-info {
    @include smin-xs {
        margin-left: -15px;
        margin-right: -15px;
    }

    &--left {
        width: 60%;

        @include smin-m {
            max-width: 723px;
        }

        @include smin-xs {
            padding-left: 15px;
            padding-right: 15px;
        }

        @include smax-m {
            width: 50%;
        }

        @include smax-xs {
            width: 100%;
        }
    }

    &--right {
        width: 40%;
        
        @include smin-m {
            max-width: 440px;
        }

        @include smin-xs {
            padding-left: 15px;
            padding-right: 15px;
        }            

        @include smax-m {
            width: 50%;
        }

        @include smax-xs {
            width: 100%;
        }

        .footerRight-row {
            display: flex;
            margin-left: -12px;
            margin-right: -12px;
            flex-wrap: wrap;

            @include smin-m {
                margin-left: -22px;
                margin-right: -22px;
            }

            .footer-info-col {  
                padding-left: 22px;
                padding-right: 22px;

                @include smax-m {
                    width: 50%;

                    padding-left: 12px;
                    padding-right: 12px;
                }

                @include smax-s {
                    width: 100%;
                }

                &--location {
                    width: 100%;
                }
            }
        }
    }
}

.footer-info-col {
    overflow-wrap: break-word;

    &.footer-info-col--submitForm {
        width: 100%;

        .footer-info-heading  {
            margin-bottom: 20px;
            color: #ffffff;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 1.4;
            text-transform: capitalize;
            max-width: 300px;
            letter-spacing: 0.03rem;
            margin-top: 27px;
        }

        .form {
            margin-bottom: 16px;
            .form-prefixPostfix {
                display: flex;
                flex-direction: column;

                .form-input {
                    color: #000000;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.25;
                    background-color: #f1f1f1;
                    border-radius: 0;
                    min-height: 40px;

                    &::placeholder {
                        color: inherit;
                        text-transform: capitalize;
                    }

                    /* For Firefox */
                    &::-moz-placeholder{
                        opacity:1
                    }
                }

                .button {
                    margin-left: 0;
                    margin-top: 12px;
                    min-height: 36px;
                }
            }

            .form-field {
                margin-bottom: 0;
            }
        }

        @include smax-xs {
            .form {
                margin-bottom: 0;

                .form-field {
                    margin-bottom: 0;
                }
            }
        }
    }

    @include smax-xs {
        + .footer-info-col {
            margin-top: 0;
        }
    }

    /* Footer Toogle On Mobile */
    &:not(.footer-info-col--submitForm) {
        @include smax-xs {
            margin-bottom: 0;
        
            .footer-info-heading {
                border-bottom: 1px solid stencilColor("footer_title_color");
                margin-bottom: 0;
                padding: 15px 0;
                position: relative;
        
                &:hover {
                    cursor: pointer;
                }
        
                &:before {
                    top: 50%;
                    right: 5px;
                    z-index: 2;
                    content: "";
                    width: 2px;
                    height: 12px;
                    position: absolute;
                    transition: all .4s ease;
                    transform: translateY(-50%);
                    background-color: stencilColor("footer_title_color");
                }
        
                &:after {
                    top: 50%;
                    right: 0;
                    z-index: 2;
                    content: "";
                    width: 12px;
                    height: 2px;
                    position: absolute;
                    transform: translateY(-50%);
                    background-color: stencilColor("footer_title_color");
                }
            }
        
            &.open-dropdown .footer-info-heading:before {
                transform: translateY(-50%) rotate(90deg);
            }
        
            .footer-info-list {
                display: none;
                margin-bottom: 30px;
                margin-top: 12px;
            }
        }
    }

    .footer-icon-image {
        @include smax-xs {
            margin-top: 20px;
        }
    }
}

.footer-line {
    border-color: rgba(255, 255, 255, 0.31);
    margin-top: 18px;
    margin-bottom: 27px;

    @include smax-xs {
        display: none;
    }
}

// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    color: stencilColor("footer_title_color");
    font-size: $fontSize-root - 2;
    font-weight: $fontWeight-bold;
    text-transform: inherit;
    margin-bottom: 12px;
    font-family: $body-font-family;
    margin-top: 0;
    text-transform: uppercase;

    @include smin-m {
        &:hover {
            color: stencilColor("footer_text_colorHover");
        }
    }
}

.footer-info-list {
    list-style: none;
    margin-left: 0;
    font-size: $fontSize-root - 2;

    li + li {
        margin-top: 8px;
    }

    a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
            color: #ffffff;
        }
    }
}

.footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.31);
    padding-top: 20px;
    padding-bottom: 24px;
    margin-top: 15px;

    > .powered-by {
        color: #ffffff;
        font-size: $fontSize-root - 2;
        line-height: 20px;
        margin: 0;
    }

    a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
            color: #ffffff;
        }
    }
}


/* Custom Footer 04042024 */
.footer {
    padding-top: 0;

    &__wrapper {
        @include flexbox();

        @include smax-s {
            flex-direction: column;
        }; 
    }
    &__left {
        flex: 1;
        padding-top: 30px;
        
        .container-padding {
            padding-left: 90px;
            padding-right: 70px;
            
            @include smax-xxl {
                padding-left: 15px;
                padding-right: 15px;
            }; 
        }

        .footer-heading {
            color: #ffffff;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
            margin-bottom: 33px;
        }

        .footerService {
            padding-bottom: 33px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            &__list {
                @include flex-layout(4, 12px);

                @include smax-xl {
                    @include flex-layout(2, 12px);
                }; 

                @include smax-m {
                    @include flex-layout(1, 12px);
                }; 
            }

            &__item {
                @include flexbox($align-items: center);
                background: rgba(255, 255, 255, 0.1);
                padding: 5px 10px 5px 9px;

                .item {
                    &-icon {
                        display: block;
                        @include square(62px);
                        margin-right: 6px;
        
                        svg {
                            @include square(62px);
                            display: block;
                        }
                    }

                    &-title {
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 1;
                        margin: 0;
                    }

                    &-text {
                        color: #FFF;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 16px;
                        margin-bottom: 0;
                        letter-spacing: 0;
                    }
                }
            }
        }

        .footerContent {
            padding-top: 37px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding-bottom: 5px;

            &__row {
                @include flexbox();
                margin-left: -35px;
                margin-right: -35px;

                @include smax-xxl {
                    margin-left: -15px;
                    margin-right: -15px;
                };

                @include smax-xl {
                    @include flex-layout(3, 20px);
                    margin-right: 0;
                };

                @include smax-xs {
                    @include flex-layout(1, 20px);
                }; 

                .footer-info-col {
                    padding: 0  35px;

                    @include smax-xxl {
                        padding: 0 15px;
                    };

                    @include smax-xl {
                        padding: 0;
                    }; 
                }
            }
        }
    }

    &__right {
        width: 100%;
        max-width: 500px;
        background: rgba(255, 255, 255, 0.05);
        height: 652px;

        @include smax-m {
            width: 50%;
            max-width: unset;
        }; 

        @include smax-s {
            width: 100%;
        };

        .footer-right__top {
            padding: 40px 48px;

            .footer__logo {
                text-align: center;
            }

            .footer__info {
                .info {
                    &-list {

                    }

                    &-item {
                        h3 {
                            margin: 0;
                            color: #ffffff;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                        }

                        a {
                            color: #ffffff;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 300;
                            text-decoration: none;
                            line-height: 16px;
                        }
                    }
                }
            }

            .footer__contact {
                .contact {
                    &-list {}

                    &-item {
                        a {
                            color: #ffffff;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 25px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}