// Common
$color-webpage-primary: #F47B20;

.page-shipping,
.page-payment-methods,
.page-contact-us {
    .text-no-wrap {
        white-space: nowrap;
        line-height: 1.825;
    }
    .page-heading {
        display: none;
    }
    .breadcrumbs {
        margin-top: 20px;
        .breadcrumb {
            &-label {
                font-size: 20px;
                text-transform: none;
            }
        }
        @include smax-m {
            margin-top: 24px;
            .breadcrumb {
                &-label {
                    font-size: 14px;
                }
            }
        }
    }
    #main-content>.container {
        max-width: 1350px;

        @include smax-m {
            padding: 0 20px;
        }
    }
}
.page-shipping,
.page-payment-methods {
    .page-content {
        display: none;
    }
}
.page-contact-us {
    .body {
        padding-bottom: 76px !important;
    }
}
.custom-separator {
    &::after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 100%;
        background-color: #000000;
        opacity: 0.2;
        position: absolute;
        top: calc(50% - 7px);
        transform: translateY(-50%);
        right: 0;
        @include smax-m {
            width: 82.4%;
            height: 1px;
            position: absolute;
            left: 50%;
            top: unset;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
    &.custom-separator--bottom {
        &::after {
            height: 1px;
            width: 100%;
            background-color: #000000;
            opacity: 0.2;
            top: unset;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
}
.bottom-line {
    position: relative;
    &::after {
        content: "";
        height: 2px;
        width: 30%;
        max-width: 88px;
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: $color-webpage-primary;
    }
    @include smax-m {
        &::after {
            width: 46px;
            left: 50%;
            transform: translateX(-50%);
            bottom: -7px;
        }
    }
}
// Section Banner
.section-image-banner {
    padding-top: 14px;
    padding-bottom: 0px;
    .image-banner {
        position: relative;
        @include lazy-loaded-padding("cover_banner_size");
        img {
            @include lazy-loaded-img;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include smax-s {
            &::after {
                padding-bottom: 51.30303%;
            }
        }
    }
    .content-banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        &__title {
            color: #444444;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 1.5;
            margin-top: 0px;
            margin-bottom: 12px;
        }
        &.normal-text {
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 1.55;
            max-width: 561px;
        }
        &__description {
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 1.55;
            padding-left: 43px;
            padding-top: 10px;
        }
        &__left {
            position: relative;
            width: 50%;
        }
        &__right {
            width: 50%;
        }
        @include smax-m {
            flex-direction: column;
            margin-top: 30px;
            &__title {
                font-size: 25px;
                line-height: 1.4;
                text-align: center;
            }
        
            &__description {
                font-size: 16px;
                line-height: 1.625;
                padding-left: 0px;
                text-align: center;
            }
            &__left {
                width: 100%;
                padding-bottom: 10px;
            }
            &__right {
                width: 100%;
                padding-top: 10px;
            }
        }
        @include smax-s {
            margin-top: 20px;
        }
    }
    @include smax-m {
        padding-top: 4px;
    }
}

.section-content {
    &-list {
        padding-top: 30px;
        @include smin-m {
            padding-bottom: 30px;
        }
    }
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        padding-top: 30px;
        padding-bottom: 33px;
        &:last-child {
            &::after {
                content: unset;
            }
        }
        &__title {
            width: 40%;
            margin-top: 0px;
            color: #444444;
            font-size: 30px;
            font-weight: 600;
            line-height: 1.3333em;
            margin-bottom: 0px;
            @include smax-m {
                font-size: 20px;
            }
        }
        &__content {
            width: 60%;
            padding-left: 60px;
            font-size: 18px;
            p {
                font-weight: 300;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            strong {
                font-weight: 500;
                color: $color-webpage-primary;
            }
            .image-list {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-top: -20px;
                margin-right: -20px;
                .image-item {
                    width: 16.6666%;
                    padding: 20px;
                    border-radius: 10px;
                    width: 95px;
                    height: 95px;
                    position: relative;
                    overflow: hidden;
                    margin-right: 20px;
                    margin-top: 20px;
                    &:after {
                        content: "";
                        opacity: 0.1;
                        z-index: -1;
                        background: $color-webpage-primary;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                    &-img-box {
                        position: relative;
                        &:after {
                            content: "";
                            display: block;
                            height: 0;
                            padding-bottom: 100%;
                            width: 100%;
                        }
                        img {
                            @include lazy-loaded-img;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                @include smax-m {
                    justify-content: center;
                }
            }
        }
    }
    @include smax-m {
        &-list {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        &-item {
            flex-direction: column;
            padding-bottom: 40px;
            &__title,
            &__content {
                width: 100%;
                text-align: center;
                padding-left: 0px;
            }
            &__content {
                font-size: 16px;
                padding-top: 40px;
                p {
                    margin-bottom: 20px;
                }
                .image-list {
                    margin-top: 27px;
                }
            }
            &:last-child {
                .section-content-item {
                    padding-top: 40px;
                }
                .section-content-item__content {
                    padding-top: 47px;
                }
            }
        }
    }
}

// Custom Block Banner
.custom-block-banner {
    padding: 40px 0px 60px;

    .block-banner-item {  
        .img-box {
            @include lazy-loaded-padding("cover_banner_bottom_size");
            img {
                @include lazy-loaded-img;
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include smin-m {
                    min-height: unset;
                }
            }
            &-mb {
                display: none;
                &::after {
                    padding-bottom: 183.0769%;
                }
            }
            @include smax-m {
                display: none;
                &-mb {
                    display: block;
                    &::after {
                        padding-bottom: 65.3769%;
                    }
                    img {
                        bottom: unset;
                        height: auto;
                    }
                }
            }
            @media (max-width: 429px) {
                &-mb {
                    &::after {
                        padding-bottom: 170.0769%;
                    }
                    img {
                        min-height: 714px;
                    }
                }
            }
            @media (max-width: 350px) {
                &-mb {
                    &::after {
                        padding-bottom: 220.0769%;
                    }
                }
            }
        }

        .content-box {
            z-index: 1;
            padding: 30px 20px;
            width: calc(100% - 40px);
            background: rgba(255, 255, 255, 0.9);
            border-radius: 1px;
            max-width: unset;
            min-height: unset;
            margin: 0 auto;
            
            @include smin-m {
                max-width: 696px;
                min-height: unset !important;
                overflow-x: hidden;
                overflow-y: auto;
                height: auto;
                position: absolute;
                top: calc(50% + 18px);
                left: 100px !important;
                transform: translateY(-50%);
                padding: 30px;
                padding-right: 29px;

                @include smax-m {
                    padding: 20px;
                }

                &.content-box--right {
                    left: auto;
                    right: 60px;
                }
            }

            @include smin-l {
                left: 100px;
            }

            .banner-title {
                font-size: 30px;
                color: #444444;
                font-weight: 600;
                margin: 0;
                line-height: 1.3333;
                margin-bottom: 30px;
                max-width: unset;

                @include smax-l {
                    font-size: 26px;
                    line-height: 1.45;
                }

                @include smax-m {
                    font-size: 22px;
                    text-align: center;
                    max-width: 100%;
                    padding-bottom: 8px;
                    margin-bottom: 22px;
                }

                &.banner-title--full {
                    max-width: 100%;
                }

            }

            .banner-text {
                font-size: 18px;
                font-weight: 300; 
                color: #333333;
                line-height: 1.5555; 
                max-width: unset;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                &.text-strong {
                    font-weight: 500;
                    color: $color-webpage-primary;
                }

                @include smax-m {
                    margin-bottom: 10px;
                    font-size: 16px;
                    text-align: center;
                    max-width: 100%;
                    line-height: 1.625;
                }
            }

            @media(min-width: 1440px) {
                left: calc((100% - 1290px) / 2);
                min-height: 356px;

                &.content-box--right {
                    left: auto;
                    right: calc((100% - 1290px) / 2);
                }
            }

            /* Mint Update Button */
            .button {
                min-height: 56px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                min-width: 162px;

                @include smax-m {
                    min-height: unset;
                }
            }

            @media (max-width: 429px) {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 20px);
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        @include smax-m {
            overflow: hidden;
            padding-bottom: 30px;
        }
    }

    @include smax-m {
        padding: 38px 0 40px;
    }
    @include smin-m {
        padding-bottom: 0px;
    }
}

// page-payment-methods page
.page-payment-methods {
    .section-image-banner {
        .content-banner {
            margin-top: 36px;
        }
    }
    .section-content-list {
        padding-top: 37px;
    }
    .section-content-item__content {
        p {
            margin-bottom: 20px;
        }
        .image-list {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }
    .section-content-item {
        padding-bottom: 19px;
    }
    .custom-block-banner {
        padding: 42px 0px 0px;
    }
    .section-content-item__content .image-list {
        margin-top: -20px;
    }
    @include smax-m {
        .section-image-banner {
            .content-banner {
                margin-top: 20px;
            }
        }
        .section-content-list {
            padding-top: 0px;
        }
        .section-content-item__content p {
            margin-bottom: 28px;
        }
        .section-content-item__content .image-list {
            margin-bottom: 16px;
        }
        .section-content-item {
            padding-bottom: 10px;
        }
        .custom-block-banner {
            padding: 35px 0 35px 0;
        }
    }
}

// Icon with text
.section-icon-with-text {
    padding: 10px 10px 20px 10px;
    .icon-with-text {
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-left: -10px;
            margin-right: -10px;
            min-height: 165px;
        }
        &__item {
            padding-left: 10px;
            padding-right: 10px;
            width: 33.3333%;
            align-self: stretch;
            position: relative;
        }
        &__icon {
            position: absolute;
            top: 0;
            left: 10px;
            opacity: 0.1;
            width: 84px;
            height: 84px;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        &__content {
            padding: 20px 15px 23px 15px;
            border-radius: 10px;
            border: 1px solid $color-webpage-primary;
            background: rgba(244, 123, 32, 0.10);
            text-align: center;
            height: 100%;
            .title {
                color: #333333;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.5;
                margin-bottom: 30px;
            }
            .description {
                margin-bottom: 0px;
                color: #333333;
                font-size: 18px;
                font-weight: 400;
                line-height: 1;
                text-decoration: none;
                @include smax-xs {
                    &--mail .text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                }
                &.des-bigger {
                    font-size: 20px;
                }
                .text-light {
                    font-weight: 300;
                }
                + .description {
                    margin-top: 20px;
                }
            }
        }
        @include smax-l {
            &__item {
                width: 50%;
            }
            &__item--full-mb {
                width: 100%;
                margin-top: 20px;
            }
        }
    }
    @include smax-m {
        padding-top: 0px;
        .icon-with-text {
            &__item {
                width: 100%;
                padding-left: 0px;
                padding-right: 0px;
    
                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
    
            &__icon {
                left: 0px;
            }
    
            &__content {
                padding: 20px 15px 21px 15px;
                font-size: 18px;
                min-height: 156px;
    
                .title,
                .description,
                .description.des-bigger {
                    font-size: 18px;
                }
            }
        }
    }
    @include smax-s {
        .icon-with-text {
            &__item {
                width: 100%;
                padding-left: 0px;
                padding-right: 0px;
                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }
    }
}

.page-contact-us {
    .custom_breadcrumb {
        padding-bottom: 0px;
        .breadcrumbs {
            margin-top: 4px;
            margin-bottom: 0px;
        }
    }
    .custom_contact-us {
        &::before {
            content: unset;
        }
        .custom_location {
            display: none;
        }
        .custom_form {
            width: 100%;
        }
    }
    .section-image-banner {
        padding-left: 0px;
        padding-right: 0px;
        .content-banner {
            margin-top: 16px;
            &__title {
                color: #333333;
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
                line-height: 1;
            }
            &__left {
                padding-left: 20px;
                width: 45.8538%;
                &.custom-separator {
                    @include smin-m {
                        &::after {
                            min-height: 90px;
                        }
                    }
                }
                @include smax-m {
                    padding-left: 0px;
                    width: 100%;
                    &.custom-separator::after {
                        width: 100%;
                    }
                }
            }
            &__right {
                padding-right: 40px;
                width: calc(100% - 45.8538%);
                display: flex;
                justify-content: flex-end;
                @include smax-m {
                    padding-right: 0px;
                    width: 100%;
                }
            }
            &__description {
                @include smin-m {
                    max-width: 570px;
                }
            }
        }
        &.list-options {
            padding-top: 75px;
            .content-banner {
                margin-top: 0px;
                &__left {
                    padding-left: 7px;
                    padding-top: 15px;
                    &.custom-separator {
                        @include smin-m {
                            &::after {
                                min-height: 180px;
                            }
                        }
                    }
                }
                &__normal-text {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 1.5555;
                    @include smin-m {
                        max-width: 560px;
                    }
                }
                &__right {
                    padding: 5px 0px 0px 32px;
                    .list-check {
                        &-item {
                            position: relative;
                            padding-left: 35px;
                            font-size: 18px;
                            font-weight: 300;
                        }
                        &-content {
                            margin-bottom: 18px;
                            strong {
                                font-weight: 500;
                            }
                            line-height: 1.5555;
                        }
                        &-icon {
                            position: absolute;
                            width: 24px;
                            height: 20px;
                            left: 0;
                            top: 5px;
                        }
                    }
                }
            }
        }
        @include smax-m {
            padding-top: 16px;
            padding-bottom: 5px;
            .content-banner {
                &__title {
                    font-size: 25px;
                    margin-bottom: 26px;
                    &.bottom-line {
                        &::after {
                            bottom: -15px;
                        }
                    }
                }
            }
            &.list-options {
                padding-top: 35px;
                .content-banner {
                    &__left {
                        padding-top: 17px;
                        padding-bottom: 2px;
                    }
                    &__right {
                        padding-left: 0px;
                        padding-top: 30px;
                        .list-check {
                            &-item {
                                padding-left: 20px;
                                font-size: 16px;
                            }
                            &-icon {
                                width: 16px;
                                height: 24px;
                                top: 0px;
                            }
                        }
                    }
                    &__normal-text {
                        font-size: 16px;
                        text-align: center;
                        line-height: 1.6555;
                    }
                }
            }
        }
    }
    .custom_contact-us {
        padding: 87px 55px 0;
        #contact-us-page {
            .contact-us-content + p {
                text-align: center;
                font-size: 20px;
                line-height: 1;
                font-weight: 500;
                padding-left: 15px;
                color: $color-webpage-primary;
            }
            [data-contact-form] {
                padding-top: 25px;
                .form {
                    &-row {
                        margin: 0 -25px;
                    }
                    &-input {
                        color: #444444;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 1;
                        height: 60px;
                        padding-left: 30px;
                    }
                    &-label {
                        color: #333333;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1;
                        margin-bottom: 15px;
                        small {
                            color: #F00;
                            float: unset;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 20px;
                        }
                    }
                    &-field {
                        padding-left: 25px;
                        padding-right: 25px;
                        margin-bottom: 50px;

                        &.form-contact_question {
                            padding-left: 0px;
                            padding-right: 0px;
                            margin-bottom: 42px;
                            .form-input {
                                height: 210px;
                                line-height: 1.4;
                            }
                        }
                    }
                }
            }
            .form-actions {
                margin-top: 14px;
                margin-left: 3px;
                .button {
                    min-width: 170px;
                    min-height: 56px;
                }
            }
        }
        @include smax-m {
            padding: 50px 0 0;
            #contact-us-page {
                .contact-us-content+p {
                    font-size: 18px;
                    line-height: 1.5555;
                    max-width: 260px;
                    margin: 0 auto;
                    padding-left: 0px;
                }
                [data-contact-form] {
                    padding-top: 18px;
                    .form {
                        &-label {
                            font-size: 18px;
                        }
                        &-input {
                            height: 50px;
                            font-size: 16px;
                        }
                        &-field {
                            margin-bottom: 32px;
                            &.form-contact_question {
                                margin-bottom: 28px;
                                .form-input {
                                    height: 180px;
                                }
                            }
                        }
                        &-actions {
                            margin-top: 0px;
                            margin-left: 0px;
                            .button {
                                min-height: 50px;
                                min-width: unset;
                                max-width: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
}