<div class="custom-global-block" data-image-load="{{cdn 'img/loading.svg'}}" data-store-hash-image="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/">
    <!-- Sidebar -->
    {{> components/custom/sidebar/custom-sidebar }}

    <!-- Mega Menu -->
    {{> components/custom/header/custom-megamenu }}
    <div class="compare-link">
        <a href="{{urls.compare}}" class="button button--transparent" data-compare-nav>{{lang 'common.compare'}}
            <span class="countPill">0</span>
        </a>
    </div>
</div>
