<div class="custom-block custom-block-brands custom-block--swipper custom-animation" data-step-animate="1" data-section-load="animation">
    <div class="container">
        <div class="custom-block-row colums-5">
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="{{theme_settings.home_brand_item1_link}}" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/{{theme_settings.home_brand_item1_img}}" 
                        alt="{{theme_settings.home_brand_item1_img}}" 
                        title="{{theme_settings.home_brand_item1_img}}">
                    </a>
                </div>
            </div>
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="{{theme_settings.home_brand_item2_link}}" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/{{theme_settings.home_brand_item2_img}}" 
                        alt="{{theme_settings.home_brand_item2_img}}" 
                        title="{{theme_settings.home_brand_item2_img}}">
                    </a>
                </div>
            </div>
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="{{theme_settings.home_brand_item3_link}}" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/{{theme_settings.home_brand_item3_img}}" 
                        alt="{{theme_settings.home_brand_item3_img}}" 
                        title="{{theme_settings.home_brand_item3_img}}">
                    </a>
                </div>
            </div>
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="{{theme_settings.home_brand_item4_link}}" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/{{theme_settings.home_brand_item4_img}}" 
                        alt="{{theme_settings.home_brand_item4_img}}" 
                        title="{{theme_settings.home_brand_item4_img}}">
                    </a>
                </div>
            </div>
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="{{theme_settings.home_brand_item5_link}}" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/{{theme_settings.home_brand_item5_img}}" 
                        alt="{{theme_settings.home_brand_item5_img}}" 
                        title="{{theme_settings.home_brand_item5_img}}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
