<div class="custom-block custom-block-icon-with-text">
    <div class="container">
        <div class="custom-block-header text-center custom-animation" data-step-animate="0" data-section-load="animation">
            <h2 class="title">{{theme_settings.home_icon_text_title}}</h2>
        </div>
        <div class="custom-block-row colums-6">
            <div class="custom-block-item custom-animation" data-step-animate="1" data-section-load="animation">
                <div class="img-box">
                    <a href="{{theme_settings.home_icon_text_item1_link}}" class="animate-scale image">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/{{theme_settings.home_icon_text_item1_img}}" 
                        alt="{{theme_settings.home_icon_text_item1_img}}" 
                        title="{{theme_settings.home_icon_text_item1_img}}">
                    </a>
                </div>
                <div class="content-box text-center">
                    <a href="{{theme_settings.home_icon_text_item1_link}}">
                        <span>{{theme_settings.home_icon_text_item1_text}}</span>
                    </a>
                </div>
            </div>
            <div class="custom-block-item custom-animation" data-step-animate="2" data-section-load="animation">
                <div class="img-box">
                    <a href="{{theme_settings.home_icon_text_item2_link}}" class="animate-scale image">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/{{theme_settings.home_icon_text_item2_img}}" 
                        alt="{{theme_settings.home_icon_text_item2_img}}" 
                        title="{{theme_settings.home_icon_text_item2_img}}">
                    </a>
                </div>
                <div class="content-box text-center">
                    <a href="{{theme_settings.home_icon_text_item2_link}}">
                        <span>{{theme_settings.home_icon_text_item2_text}}</span>
                    </a>
                </div>
            </div>
            <div class="custom-block-item custom-animation" data-step-animate="3" data-section-load="animation">
                <div class="img-box">
                    <a href="{{theme_settings.home_icon_text_item3_link}}" class="animate-scale image">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/{{theme_settings.home_icon_text_item3_img}}" 
                        alt="{{theme_settings.home_icon_text_item3_img}}" 
                        title="{{theme_settings.home_icon_text_item3_img}}">
                    </a>
                </div>
                <div class="content-box text-center">
                    <a href="{{theme_settings.home_icon_text_item3_link}}">
                        <span>{{theme_settings.home_icon_text_item3_text}}</span>
                    </a>
                </div>
            </div>
            <div class="custom-block-item custom-animation" data-step-animate="4" data-section-load="animation">
                <div class="img-box">
                    <a href="{{theme_settings.home_icon_text_item4_link}}" class="animate-scale image">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/{{theme_settings.home_icon_text_item4_img}}" 
                        alt="{{theme_settings.home_icon_text_item4_img}}" 
                        title="{{theme_settings.home_icon_text_item4_img}}">
                    </a>
                </div>
                <div class="content-box text-center">
                    <a href="{{theme_settings.home_icon_text_item4_link}}">
                        <span>{{theme_settings.home_icon_text_item4_text}}</span>
                    </a>
                </div>
            </div>
            <div class="custom-block-item custom-animation" data-step-animate="5" data-section-load="animation">
                <div class="img-box">
                    <a href="{{theme_settings.home_icon_text_item5_link}}" class="animate-scale image">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/{{theme_settings.home_icon_text_item5_img}}" 
                        alt="{{theme_settings.home_icon_text_item5_img}}" 
                        title="{{theme_settings.home_icon_text_item5_img}}">
                    </a>
                </div>
                <div class="content-box text-center">
                    <a href="{{theme_settings.home_icon_text_item5_link}}">
                        <span>{{theme_settings.home_icon_text_item5_text}}</span>
                    </a>
                </div>
            </div>
            <div class="custom-block-item custom-animation" data-step-animate="6" data-section-load="animation">
                <div class="img-box">
                    <a href="{{theme_settings.home_icon_text_item6_link}}" class="animate-scale image">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/{{theme_settings.home_icon_text_item6_img}}" 
                        alt="{{theme_settings.home_icon_text_item6_img}}" 
                        title="{{theme_settings.home_icon_text_item6_img}}">
                    </a>
                </div>
                <div class="content-box text-center">
                    <a href="{{theme_settings.home_icon_text_item6_link}}">
                        <span>{{theme_settings.home_icon_text_item6_text}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
