<div class="custom-block custom-block-banner">
    <div class="container container--full">
        <div class="custom-block-content">
            <div class="block-banner-item">
                <div class="img-box text-center custom-animation" data-step-animate="1" data-section-load="animation">
                    <a href="{{theme_settings.home_banner1_link}}" class="image-desktop">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/{{theme_settings.home_banner1_img}}" 
                        alt="{{theme_settings.home_banner1_img}}" 
                        title="{{theme_settings.home_banner1_img}}">
                    </a>
                </div>
                <div class="content-box text-left content-box--left custom-animation content-box--custom" data-step-animate="3" data-section-load="animation">
                    <h3 class="banner-title">{{theme_settings.home_banner1_title}}</h3>
                    <p class="desc banner-text">{{theme_settings.home_banner1_text}}</p>
                </div>
            </div> 
        </div>
    </div>
</div>
